* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #000;
    position: relative;
    // height: 60px;
    a {
        text-decoration: none;
        color: #fff;
    }

    .brand_logo {
        font-size: 1.5rem;
        padding: 1rem;
        color: #fff;
    }

    .toggle_button {
        position: absolute;
        top: 0.8rem;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
        }
    }

    .navbar_links {
        width: 100%;
        height: 100%;
        display: none;

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        li {
            list-style: none;
            text-align: center;
            height: 100%;
        }
        
        a {
            text-decoration: none;
            color: #fff;
            padding: 1.2rem;
            display: block;
        }

        .account {
            display: flex;
            flex-wrap: wrap;
            width: 80%;
            justify-content: space-between;
            margin: auto;
        }
    }

    .active {
        display: flex;
    }  
}

// ===========================================

@media (min-width: 769px) {
    .navbar {
        flex-direction: row;

        .navbar_links {
            display: flex;

            ul {
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
            }
            .account {
                margin: 0;
                width: 20%;
                flex-wrap: nowrap;
                justify-content: flex-end;
            }
        }
    
        .toggle_button {
            display: none;
        }
    }
}
