* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body {
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}
// ===== HEADER ==============================

@import "navbar";

// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/kovid-rathee[upcoming-event].jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #artists-lists {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            padding: 1rem 0;
            font-size: 1.5rem;
            border-bottom: 2px solid #ccc;
        }

        .artist-name {
            text-align: left;
            font-size: 1.2rem;
            width: 90%;
            
            padding: 0.5rem 0;
            margin: 0.5rem auto;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;

            &:hover {
                background: rgb(208, 208, 208);
            }
            a {
                display: inline-block;
                text-decoration: none;
                color: rgba(21, 38, 150, 0.942);
            }

            .on-tour {
                padding: 0.1rem 0.2rem;
                font-size: 12px;
                vertical-align: super;
                display: inline-block;
                background: rgb(252, 65, 65);
                border-radius: 3px;
                color: #fff;
            }

            .off-tour {
                padding: 0.1rem 0.2rem;
                font-size: 12px;
                vertical-align: super;
                display: inline-block;
                background: rgb(169, 169, 169);
                border-radius: 3px;
                color: #fff;
            }
        }
    }
}

// ========== MEDIA QUERIES ==============
@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }
    }
}

// ========== FOOTER =============

@import "footer";
