// ========== COLOR ===========

$base-black: rgba(0, 0, 0, 0.99);

$base-white: rgba(241, 238, 238, 0.997);

$base-grey: rgba(76, 76, 76, 0.949);

$red: rgb(208, 13, 13);

$blue-link: rgba(10, 2, 225, 0.983);

$yellow: rgba(249, 195, 1, 0.99);

// ========= FONT SIZES ==========

$mb-font: 0.9rem;

$scr-font: 1rem;
