<footer>
    <div class="footer-nav">
        <ul>
            <li> <a href="">About</a> </li>
            <li><a href="">Contact</a> </li>
            <li><a href="/users/newsletters">Newsletters</a> </li>
            <li><a href="">Careers</a> </li>
        </ul>
    </div>
    <div class="footer-medias">
        <ul>
            <li class="media-icon"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="media-icon"><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li class="media-icon"><a href=""><i class="fab fa-youtube"></i></a></li>
            <li class="media-icon"><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li class="media-icon"><a href=""><i class="fab fa-pinterest-square"></i></a></li>
            <li class="media-icon"><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="logo">
     <a href="">grooove</a> 
  </div>
</footer>