<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to Grooooves!</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    <% include('navbar.ejs') %>
    </header>
    <main class="main">
        <div class="title">Grooove in!</div>
        <%- messages('messages-template', locals) %>
        <div><%= user.username %></div>
        <form id="login_form" action="/users/change_password/<%= user._id %>" method="POST">
            <input class="form_item" type="password" name="password" placeholder="password" required>
            <input class="form_item" type="password" name="password2" placeholder="confirm password" required>
            <button class="form_item" id='change_button' type="submit">Submit</button>
        </form>
    </main>

    <footer>

    </footer>
   
    <script src="/js/navbar.js"></script>
</body>
</html>