<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to Grooooves!</title>
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    </header>
    <main class="main">
        <div class="title">Be a Grooover!</div>

        <% if (errors) { %>
            <% errors.forEach((error) => { %>
                <div class='error'> <%= error.msg %> </div>
           <% })} %>
    
        <form id="register_form" action="/events/comment" method="POST">
            <input class="form_item" type="text" name="content" placeholder="say what?" >
            <button class="form_item" id='register_button' type="submit">Register</button>
        </form>
    </main>

    <footer>

    </footer>

    <script src="/js/main.js"></script>
</body>
</html>