<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groooooove it hard, Bitch!</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script
      src="https://kit.fontawesome.com/ade53cd309.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header><%- include('layouts/navbar.ejs') -%></header>
    <main>
      <section id="jumbotron">
        <div id="slogan">Feel the Groooves</div>
        <a href="/events/live"><div id="live-button">Join LIVE</div></a>
        <div id="bottom-blur"></div>
      </section>

      <section class="content-wrapper">
        <div class="title-wrapper">
          <div id="title">news and events</div>
          <div id="down-arrow"><i class="fas fa-arrow-down"></i></div>
        </div>
        <div class="news-events"></div>
        <div id="search_results"></div>
      </section>
    </main>

    <%- include('layouts/footer.ejs') -%>
    
    <script src="/js/main.js"></script>

  </body>
</html>
