<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/css/search_results.css" />
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- HEADER -->
    <header><%- include('navbar.ejs') -%></header>
    <!-- MAIN -->
    <main>
      <section class="jumbotron">
        <div class="jumbotron_text">Your search results!</div>
      </section>

      <section id="artists-lists">
        <h1>Your artists search results</h1>
        <% for (let i = 0; i < data.length; i++) { %>
         <div class="artist-name"> <a href="/events/artist=<%= data[i].id %>"> <%= data[i].displayName %></a></div>
        <% } %>
      </section>
    </main>
    <!-- FOOTER -->
    <%- include('footer.ejs') -%>

    <script src="/js/navbar.js"></script>
    <!-- <script src="../js/date_time.js"></script> -->
    <script src="/js/getSearch.js"></script>

  </body>
</html>
