<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <form action="/search" method="POST">
        <input id='search' name="search_query" type="search" placeholder="Search your artists">
    </form>

    <div id="search_results">

    </div>

    <script src="../js/getSearch.js"></script>
</body>
</html>