<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Grooove Monthly Newsletter</title>
   <style>
      .container {
         width: 70%;
         margin: 0 auto;
      }

      .title {
         font-size: 2.2rem;
         font-weight: bold;
         text-align: center;
         width: 100%;
         color: teal;
         text-transform: uppercase;
         padding: 2rem 0;
         margin: 0 auto;
      }

      .img-wrapper {
         text-align: center;
         width: 100%;
         margin: 0 auto;
         position: relative;
      }

      img {
         width: 100%;
         height: 100%;
         display: block;
      }
   </style>
</head>

<body>
   <div class="container">

      <div class="title">Welcome to Grooove's monthly newsletters</div>
      <div class="img-wrapper">
         <img
            src="https://images.unsplash.com/photo-1503980599186-9cc36eda351a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"
            alt="">
      </div>
   </div>

</body>

</html>