@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

header {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 99999999;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

header .navbar a {
  text-decoration: none;
  color: #fff;
}

header .navbar .brand_logo {
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
}

header .navbar .toggle_button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

header .navbar .toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

header .navbar .navbar_links {
  width: 100%;
  height: 100%;
  display: none;
}

header .navbar .navbar_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar .navbar_links li {
  list-style: none;
  text-align: center;
}

header .navbar .navbar_links a {
  text-decoration: none;
  color: #fff;
  padding: 1.2rem;
  display: block;
}

header .navbar .navbar_links .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

header .navbar .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 310px;
  top: 60px;
  left: 0px;
  background: #fff;
  z-index: 99999;
}

header .navbar .active a {
  color: #000;
}

.main {
  background: #000;
  text-align: center;
  padding-top: 5rem;
  height: 100vh;
}

.main .title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main .error {
  color: red;
  font-weight: bold;
}

.main #login_form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 1rem auto;
}

.main #login_form .form_item {
  margin: 1rem 0;
  height: 2rem;
  text-align: center;
}

.main #login_form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-style: italic;
  text-align: center;
}

.main a {
  text-decoration: none;
  color: #000;
}

.main #sign_button {
  width: 70%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 769px) {
  .main #login_form {
    width: 40%;
  }
  .main #sign_button {
    width: 40%;
  }
}
/*# sourceMappingURL=login.css.map */