@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* a:hover {
  cursor: pointer;
}

* li {
  list-style: none;
}

* img {
  display: block;
}

body {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

header {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 99999999;
}

header .activee {
  background-color: rgba(0, 0, 0, 0.638) !important;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

header .navbar a {
  color: #fff;
}

header .navbar .brand_logo {
  font-family: "Monoton", cursive;
  font-size: 1.8rem;
  padding: 1rem;
  color: #fff;
}

header .navbar .reverse-transform {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

header .navbar .transform {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

header .navbar .toggle_button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

header .navbar .toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

header .navbar .navbar_links {
  width: 100%;
  height: 100%;
  display: none;
}

header .navbar .navbar_links #search-bar {
  width: 15rem;
  color: #000;
}

header .navbar .navbar_links #search-bar #search-input {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(177, 177, 177, 0.597);
  color: #000;
  font-size: 1rem;
}

header .navbar .navbar_links #search-bar #search-input:focus {
  outline: none;
}

header .navbar .navbar_links #search-bar #search-button:hover {
  cursor: pointer;
}

header .navbar .navbar_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar .navbar_links li {
  text-align: center;
  padding: 1rem;
}

header .navbar .navbar_links a {
  font-weight: 400;
  display: block;
}

header .navbar .navbar_links #live {
  color: #d00d0d;
}

header .navbar .navbar_links .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  color: #000;
  display: flex;
}

header .navbar .navbar_links .account #user-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .navbar .navbar_links .account #user-in:hover {
  cursor: pointer;
}

header .navbar .navbar_links .account #user-in #user-dropdown {
  position: absolute;
  width: auto;
  z-index: -11;
  background: #fff;
  color: #000;
  opacity: 0;
}

header .navbar .navbar_links .account #user-in a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 310px;
  top: 60px;
  background: #fff;
  z-index: 99999;
}

header .navbar .active a {
  color: #000;
}

@media (min-width: 769px) {
  header {
    top: 1rem;
  }
  header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .navbar .navbar_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar .navbar_links #search-bar {
    width: 15rem;
    color: #fff;
  }
  header .navbar .navbar_links #search-bar #search-input {
    width: 90%;
    font-size: 1rem;
    color: #fff;
  }
  header .navbar .navbar_links #search-bar #search-button:hover {
    cursor: pointer;
  }
  header .navbar .navbar_links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar .navbar_links li {
    padding: 1.7rem 1.7rem;
  }
  header .navbar .navbar_links .account {
    color: #fff;
    margin: 0;
    width: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar .navbar_links .account #user-in:hover #user-dropdown {
    opacity: 0.9;
    display: block;
    z-index: 1;
    top: 60px;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
  }
  header .navbar .toggle_button {
    display: none;
  }
}

main #jumbotron {
  width: 100%;
  height: 50vh;
  background-image: url("../images/danny-howe.jpg");
  background-size: cover;
  background-position: 45%;
  position: relative;
}

main #jumbotron #slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.535);
  color: rgba(241, 238, 238, 0.997);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
}

main #jumbotron #live-button {
  color: rgba(241, 238, 238, 0.997);
  font-size: 0.9rem;
  position: absolute;
  z-index: 99999;
  background: #d00d0d;
  padding: 0.7rem 1rem;
  border-radius: 15px;
  top: 67%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main #jumbotron #live-button:hover {
  cursor: pointer;
}

main #jumbotron #bottom-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.056)), color-stop(50%, rgba(0, 0, 0, 0.645)), to(black));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.056) 0%, rgba(0, 0, 0, 0.645) 50%, black 100%);
}

main .content-wrapper {
  background: rgba(0, 0, 0, 0.99);
  height: 100vh;
}

main .content-wrapper #title {
  color: rgba(241, 238, 238, 0.997);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.611);
}

main .content-wrapper #down-arrow {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  padding: 2rem 0;
  border-top: 1px solid rgba(111, 111, 111, 0.798);
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer .footer-nav ul,
footer .footer-medias ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0rem;
}

footer .footer-nav ul li,
footer .footer-medias ul li {
  list-style: none;
}

footer .footer-nav ul li {
  padding: 0.3rem 1rem;
}

footer .footer-nav ul li a:hover {
  color: red;
}

footer .footer-nav ul li:nth-child(1), footer .footer-nav ul li:nth-child(2), footer .footer-nav ul li:nth-child(3) {
  border-right: 2px solid #fff;
}

footer .footer-medias ul .media-icon {
  font-size: 1.2rem;
  margin: 0 0.7rem;
}

footer .footer-medias ul .media-icon:hover {
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

footer .logo {
  font-family: "Monoton", cursive;
  font-size: 2rem;
  color: #fff;
}

@media (min-width: 769px) {
  footer .logo {
    font-size: 2.2rem;
  }
  footer .footer-nav ul li {
    padding: 0.3rem 3rem;
  }
  footer .footer-nav ul li a:hover {
    color: red;
  }
  footer .footer-nav ul li:nth-child(1), footer .footer-nav ul li:nth-child(2), footer .footer-nav ul li:nth-child(3) {
    border-right: 2px solid #fff;
  }
  footer .footer-medias ul .media-icon {
    font-size: 2rem;
    margin: 0 1.7rem;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 15px;
  }
  main #jumbotron {
    width: 100%;
    height: 90vh;
    background-position: 45%;
  }
  main #jumbotron #slogan {
    font-size: 4.2rem;
  }
  main #jumbotron #live-button {
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
    top: 63%;
  }
  main #jumbotron #bottom-blur {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */