header {
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  background: transparent;
  z-index: 99999999;
}

header .activee {
  background-color: rgba(0, 0, 0, 0.638) !important;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  position: relative;
  z-index: 100;
}

header .navbar a {
  text-decoration: none;
  color: #fff;
}

header .navbar .brand_logo {
  font-family: "Monoton", cursive;
  font-size: 1.8rem;
  padding: 1rem;
  color: #fff;
}

header .navbar .reverse-transform {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

header .navbar .transform {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

header .navbar .toggle_button {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

header .navbar .toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

header .navbar .navbar_links {
  width: 100%;
  height: 100%;
  display: none;
}

header .navbar .navbar_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar .navbar_links li {
  list-style: none;
  text-align: center;
  padding: 1rem;
}

header .navbar .navbar_links a {
  font-weight: 400;
  text-decoration: none;
  display: block;
}

header .navbar .navbar_links #live {
  color: #d00d0d;
}

header .navbar .navbar_links .account {
  width: 80%;
  margin: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .navbar_links .account #user-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .navbar .navbar_links .account #user-in:hover {
  cursor: pointer;
}

header .navbar .navbar_links .account #user-in #user-dropdown {
  position: absolute;
  width: auto;
  z-index: -11;
  background: #fff;
  color: #000;
  opacity: 0;
}

header .navbar .navbar_links .account #user-in a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 250px;
  top: 60px;
  right: -200px;
  background: #fff;
  z-index: 99999;
}

header .navbar .active a {
  color: #000;
}

@media (min-width: 769px) {
  header {
    top: 1rem;
  }
  header .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .navbar .navbar_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar .navbar_links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar .navbar_links li {
    padding: 1.7rem 1.7rem;
  }
  header .navbar .navbar_links .account {
    color: #fff;
    margin: 0;
    width: 20%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .navbar .navbar_links .account #user-in:hover #user-dropdown {
    opacity: 0.9;
    display: block;
    z-index: 1;
    top: 60px;
    -webkit-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
  }
  header .navbar .toggle_button {
    display: none;
  }
}
/*# sourceMappingURL=navbar.css.map */