@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* a:hover {
  cursor: pointer;
}

* li {
  list-style: none;
}

* img {
  display: block;
}


.hvr-sweep-to-right {
  padding: 1rem 2rem;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  background-color: #fff;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  height: 100%;
  width: 300%;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);

  transform: scaleX(0.333333);

  transform-origin: 0 0%;

  transition-property: transform;

  transition-duration: 0.3s;

  transition-timing-function: ease-out;
}
/* .hvr-sweep-to-right:hover {
  color: white;
} */
.hvr-sweep-to-right:hover:before {
  transform: scaleX(1);
}
