@import "../base/global";

@import "../utilities/variables";

@import "../utilities/mixins";

header {
    font-size: $mb-font - 0.1rem;
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    background: transparent;
    z-index: 9999;

    .actived {
        background-color: $base-black !important;
    }


    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: transparent;
        position: relative;
        z-index: 100;

        a {
            color: $base-white;
        }

        .brand_logo {
            font-family: "Monoton", cursive;
            font-size: 1.8rem;
            padding: 1rem;
            color: $base-white;
        }

        .toggle_button {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 21px;

            .bar {
                height: 3px;
                width: 100%;
                background-color: $base-white;
                border-radius: 10px;
            }
        }

        .navbar_links {
            width: 100%;
            height: 100%;
            display: none;

            #search-bar {
                width: 15rem;
                color: $base-black;

                ::placeholder {
                    color: $base-white;
                }
                #search-input {
                    width: 90%;
                    background: transparent;
                    font-family: 'Raleway', sans-serif;
                    border: none;
                    border-bottom: 1px solid rgba(177, 177, 177, 0.597);
                    color: $base-black;
                    font-size: $mb-font;
                    &:focus {
                        outline: none;
                    }
                }

                #search-button {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            li {
                text-align: center;
                padding: 1rem;
            }

            a {
                font-weight: 600;
                display: block;
            }

            #live {
                color: $red;
            }

            .account {
                display: flex;
                flex-direction: column;
                width: 80%;
                color: $base-black;
                display: flex;

                #user-in {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &:hover {
                        cursor: pointer;
                    }
                    #user-dropdown {
                        position: absolute;
                        width: auto;
                        z-index: -11;
                        background: $base-white;
                        color: $base-black;
                        opacity: 0;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            
            
        }
        .hamburger-active {
            display: flex;
            position: absolute;
            width: 100%;
            height: 310px;
            top: 60px;
            background: $base-white;
            z-index: 99999;
            a {
                color: $base-black;
            }
        }
    }
}

@media (min-width: 769px) {
    // ======== NAV BAR =============
    header {
        top: 1rem;
        font-size: $scr-font;
        
        .navbar {
            flex-direction: row;

            .navbar_links {
                display: flex;
                margin: auto 0;
                #search-bar {
                    width: 20rem;
                    color: $base-white;
                    #search-input {
                        width: 90%;
                        font-size: 1rem;
                        color: $base-white;
                    }

                    #search-button {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                ul {
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                }
                // li {
                //     padding: 1.7rem 1.7rem;
                // }

                .account {
                    color: $base-white;
                    margin: 0;
                    width: 20%;
                    flex-direction: row;
                    justify-content: flex-end;

                    #user-in {
                        &:hover #user-dropdown {
                            opacity: 0.9;
                            display: block;
                            z-index: 1;
                            top: 60px;
                            transition: opacity 0.4s linear;
                        }
                    }
                }

                #nearyou-event {
                    position: relative;
                    li {
                        padding: 0.7rem;
                    }
                    &:hover #city-list {
                        position: absolute;
                        top: 60px;
                        width: 200px;
                        height: auto;
                        background: $base-white;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0;
                    }

                    #city-list {
                        display: none;
                    }
                }
            }

            .toggle_button {
                display: none;
            }
        }
    }
}
