// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

// ===== MAIN ================================

header {
        background: $base-black;
}
main {

    #events_lists {
        margin: 0 auto;
        h1 {
            font-size: 2rem;
            margin: 1.5rem 0rem;
            padding: 1rem;
            text-align: center;
            border-top: 10px solid $base-black;
            border-bottom: 10px solid $base-black;
        }

        .no-event {
            margin: 4rem 0;
            font-size: 3rem;
            text-align: center;
            color: lighten($base-grey, 10%);
        }
        .artist-result {
            &:nth-child(odd) {
                background: lighten($base-grey, 60%);
            }

            &:nth-child(even) {
                background: lighten($base-grey, 65%);
            }

            border-radius: 4px;
            font-size: 1.2rem;
            padding: 0.7rem 0;
            margin: 0.8rem 0;
            font-weight: 600;

            a {
                color: $blue-link;
            }
        }
    }
}

@media (min-width: 769px) {
    main {
        body {
            font-size: 15px;
        }

        #events_lists {
            margin: 10rem auto 0 auto;
            h1 {
                font-size: 2.5rem;
                padding: 1.5rem;
            }
            .artist-result {
                font-size: 1.5rem;
            }
        }
    }
}
