
// ======== GLOBAL STYLING ==========

@import '../base/global';

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";
// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/kovid-rathee[upcoming-event].jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: #fff;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #events_lists {
        h1 {
            font-size: 2rem;
            margin: 1.5rem 0rem;
            text-align: center;
        }
        .artist-result {
            text-align: left;
            font-size: 1.2rem;
            width: auto;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
            font-weight: 600;
            border-top: 1px solid rgba(191, 191, 191, 0.942);
            a {
                color: rgba(21, 38, 150, 0.942);
                display: inline-block;
                text-decoration: none;
            }
        }
    }
}
