// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

// ==================================

header {
   .navbar {
      background: $base-black;
   }
}

main {
   .container {
      padding-top: 5rem;

      .liveshow {
         position: relative;
         height: 180px;
         width: 100%;
         margin: 1rem 0;

         img {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
         }

         a {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba($base-black, 0.4);
            font-size: 3rem;
            text-transform: uppercase;
            @include flex(column, center, center);
            font-weight: 900;
            z-index: 2;
            color: $yellow;
         }

         .event_name-small {
            text-align: center;
            font-size: 2rem;
            color: $base-white;
         }
      }
   }
}

// ============ MEDIA QUERIES ==============

@media (min-width: 769px) {
   main {
   .container {
      padding-top: 6rem;

      .liveshow {
         height: 300px;
         margin: 3rem 0;

         a {
            font-size: 5rem;
         }

         .event_name-small {
            font-size: 3rem;
         }
      }
   }
}
}
