// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";


// =======  MAIN  =============

body {
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(114, 2, 115, 0.9164040616246498) 0%,
        rgba(255, 0, 0, 0.4374124649859944) 100%
    );

    // animation: background 3s infinite ease-in-out;
}

// @keyframes background {
//     from {
//         background: linear-gradient(
//             180deg,
//             rgba(2, 0, 36, 1) 0%,
//             rgba(114, 2, 115, 0.9164040616246498) 0%,
//             rgba(255, 0, 0, 0.4374124649859944) 100%
//         );
//     }
//     to {
//         background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
//     }
// }
.login-wrapper {
    background: transparent;
    text-align: center;
    padding-top: 10rem;
    height: 100vh;
    font-weight: 600;
    .title {
        text-align: center;
        color: $base-white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .error {
        background: $base-white;
        width: 70%;
        margin: 0 auto;
        border-radius: 25px;
        padding: 0.5rem;
        border: 2px dashed red;
        color: $red;
        font-weight: bold;
    }

    #login_form {
        width: 70%;
        display: flex;
        flex-flow: column wrap;
        margin: 1rem auto;

        .form_item {
            margin: 1rem 0;
            height: 2rem;
            text-align: center;
            border: none;
            border-radius: 25px;
        }
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: italic;
            text-align: center;
        }
    }

    #sign_button {
        width: 70%;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 25px;
    }

    #forgot-password {
        margin: 1rem 0;
    }
}

// ========= MEDIA QUERIES ==============

@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    //  ======== NAV BAR ============

    // imported from navbar

    // ========= MAIN  =============
    .main {
        #login_form {
            width: 40%;
        }

        #sign_button {
            width: 40%;
        }
    }
}
