// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";


// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/Tim-Toomey.jpeg");
        background-size: cover;
        background-position: center 30%;
        height: 250px;
        @include flex(column, center, center);

        &_text {
            color: $yellow;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0.7rem;
        }

        #location {
            text-align: center;
            width: 8rem;
            background: rgba($base-black, 0.6);
            padding: 0.3rem 0.3rem;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $base-white;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            &-list {
                background: rgba($base-white, 0.9);
                position: absolute;
                border-radius: 0 0 5px 5px;
                width: 100%;
                top: 30px;
                left: 0;   
                font-size: 0.9rem;
                display: none;
                text-align: center;
                li {
                    padding: 0.2rem 0.5rem;
                    font-weight: 500;

                    a:visited, a {
                        color: lighten($base-black, 15%);
                    }
                }
            }

            .appear {
                display: block;
            }
        }
    }

    #events-lists {
        margin: 2rem 0;

        .event-item {
            @include flex(column, center, flex-start);
            border-radius: 6px;
            width: 100%;
            height: auto;
            margin-top: 1rem;

            &:nth-child(odd) {
                background: lighten($base-grey, 60%);
            }

            &:nth-child(even) {
                background: lighten($base-grey, 65%);
            }


            .event-description {
                margin-left: 10px;
                div {
                    padding: 0.3rem 0;
                }
                a { 
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $blue-link;
                    text-transform: uppercase;
                }

                .event_name {
                    text-transform: uppercase;
                    padding-bottom: 0.3rem;
                }
            }
        }
    }
}

// ============ MEDIA QUERIES ==============

@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
            #location {
                text-align: center;
                width: 12rem;
                background: rgba($base-black, 0.4);
                padding: 0.5rem 0.1rem;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 1.2rem;
                color: $base-white;
                position: relative;
    
                &:hover {
                    cursor: pointer;
                }
    
                &-list {
                    background: rgba($base-white, 0.5);
                    position: absolute;
                    border-radius: 0 0 5px 5px;
                    width: 100%;
                    top: 40px;
                    left: 0;   
                    font-size: 1rem;
                    display: none;
                    text-align: center;
                    li {
                        padding: 0.2rem 0.5rem;
                        font-weight: 500;
                        &:hover {
                            text-decoration: underline;
                        }
                        a:visited, a {
                            color: lighten($base-black, 15%);
                        }
                    }
                }
    
                .appear {
                    display: block;
                }
            }
        }

        .container {
            margin: 0 auto;
            position: relative;
        }

        #events-lists {

            .event-item {
                height: auto;

                &:hover {
                    box-shadow: 1px 1px 7px grey;
                }
            

                .event-description {
                    padding: 0 10px;
                    margin: 0 0;
                    width: 100%;

                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $blue-link;
                    }

                    .event-name {
                        text-transform: uppercase;
                        padding-bottom: 0.3rem;
                        margin: 1rem 0;
                    }

                    %perve {
                        font-size: 1.2rem;
                        color: $base-grey;
                        margin: 1rem 0;
                    }

                    .performers-name {
                        @extend %perve;
                    }

                    .venue-state {
                        @extend %perve;
                        i {
                            padding: 0 4px;
                        }
                    }

                    .date_time {
                        @extend %perve;
                        i {
                            padding: 0 4px;
                        }
                    }

                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
