
// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

// =======  MAIN  =============
body {
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(114, 2, 115, 0.9164040616246498) 0%,
        rgba(255, 0, 0, 0.4374124649859944) 100%
    );

    // animation: background 3s infinite ease-in-out;
}

.main {

    .register-wrapper {
        width: 70%;
        margin: 0 auto;

        font-weight: 600;
        text-align: center;
        padding-top: 5rem;
        height: 100vh;
        .title {
            font-size: 2rem;
            margin-bottom: 2rem;
            color: $base-white;
        }
    
        .error {
            background: $base-white;
            width: 70%;
            margin: 0 auto;
            border-radius: 25px;
            padding: 0.5rem;
            border: 2px dashed red;
            color: $red;
            font-weight: bold;
        }
    
        #register_form {
            width: 70%;
            display: flex;
            flex-flow: column wrap;
            margin: 1rem auto;
    
            .form_item {
                margin: 1rem 0;
                height: 2rem;
                text-align: center;
                border: none;
                border-radius: 25px;
            }
            ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                font-style: italic;
                text-align: center;
            }
        }
    
        a {
            text-decoration: none;
            color: $base-black;
        }
    
        #sign_button {
            border: none;
            border-radius: 25px;
            width: 70%;
            margin-top: 1rem;
            padding: 0.5rem 1rem;
        }
    }


}


// ========= MEDIA QUERIES ==============

@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    // ======== NAV BAR =============
   
    // imported from navbar

    // ======== MAIN  =============
    .main {
        text-align: center;
        margin-top: 4rem;

        .register-wrapper {
            width: 40%;
        }

        #register_form {
            width: 40%;
        }

        #sign_button {
            width: 40%;
        }
    }
}
