// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

@import "../utilities/functions";

// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/Bruno-Emanuelle.jpeg");
        background-size: cover;
        background-position: center 50%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: $base-white;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #artists-lists {
        @include flex(column, center, center);

        .title {
            padding: 1rem 0;
            border-bottom: 2px solid #ccc;
            font-size: 1.2rem;
        }

        .artist-name {
            text-align: left;
            font-size: 1.5rem;
            width: 90%;

            &:nth-child(odd) {
                background: lighten($base-grey, 57%);
            }

            &:nth-child(even) {
                background: lighten($base-grey, 65%);
            }
            border-radius: 6px;

            padding: 0.5rem 0;
            margin: 0.8rem auto;
            font-weight: 500;
            display: flex;
            flex-wrap: wrap;


            a {
                display: inline-block;
                color: $blue-link;
            }

            // Inheritance

            %tour-badge {
                padding: 0.1rem 0.2rem;
                font-size: 12px;
                vertical-align: super;
                display: inline-block;
                border-radius: 3px;
                color: $base-white;
            }

            .on-tour {
                @extend %tour-badge;
                background: $red;
            }
        }
    }

    
}

// ========== MEDIA QUERIES ==============
@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }

        #artists-lists {
            @include flex(column, center, center);
            
            .title {
                margin: 2rem 0;
                font-size: 2rem;
            }
    
            .artist-name {
                text-align: left;
                font-size: 1.8rem;
    
                padding: 1rem 0;
                margin: 0.5rem auto;
                font-weight: 600;
            }
        }
    }
}
