// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

@import "../utilities/functions";

// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/kovid-rathee[upcoming-event].jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: $base-white;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #artists-lists {
        @include flex(column, center, center);
        border-right: 1px solid lighten($base-grey, 30%);
        border-left: 1px solid lighten($base-grey, 30%);
        h1 {
            padding: 1rem 0;
            border-bottom: 2px solid #ccc;
            font-size: 2rem;
        }

        .artist-name {
            text-align: left;
            font-size: 1.5rem;
            width: 100%;

            padding: 1rem 0;
            margin: 0.5rem auto;
            font-weight: 600;
            display: flex;
            flex-wrap: wrap;

            &:hover {
                box-shadow: 3px 3px 10px $base-grey;
                border-radius: 5px;
            }
            a {
                display: inline-block;
                color: $blue-link;
            }

            // Inheritance

            %tour-badge {
                padding: 0.1rem 0.2rem;
                font-size: 12px;
                vertical-align: super;
                display: inline-block;
                border-radius: 3px;
                color: $base-white;
            }

            .on-tour {
                @extend %tour-badge;
                background: $red;
            }

            .off-tour {
                @extend %tour-badge;
                background: rgb(169, 169, 169);
            }
        }
    }
}

// ========== MEDIA QUERIES ==============
@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }
    }
}
