// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

@import "../utilities/functions";

// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/Noiseporn.jpeg");
        background-size: cover;
        background-position: center 30%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: $base-white;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #events-lists {
        margin-top: 2rem;

        .event-item {
            &:nth-child(odd) {
                background: lighten($base-grey, 60%);
            }

            &:nth-child(even) {
                background: lighten($base-grey, 65%);
            }
            @include flex(column, center, flex-start);
            border-radius: 6px;
            width: 100%;
            height: 90px;
            margin-top: 1rem;

            .performers-picture {
                height: 90px;
                width: 100px;
                margin-left: 5px;
                position: relative;

                .date_time {
                    font-size: 11px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $base-white;
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    @include flex(column, center, center);

                    .day {
                        text-align: center;
                        height: 50%;
                        width: 80%;
                        border-bottom: 1px solid $base-black;
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .event-description {
                margin-left: 10px;
                width: calc(100vw - 110px);

                a {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $blue-link;
                    border-bottom: 2px solid $blue-link;
                }

                .event-name {
                    text-transform: uppercase;
                    padding-bottom: 0.3rem;
                }
            }
        }
    }
}

// ============ MEDIA QUERIES ==============

@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }
        .container {
            width: 70%;
            margin: 0 auto;
            position: relative;
            display: grid;
            column-gap: 2rem;
            grid-template-columns: 250px calc(100% - 2rem - 250px);
        }

        #filter {
            grid-area: 0/0/1/1;
            height: 295px;
            width: 250px;
            position: sticky;
            top: 100px;
            border: 3px lighten($base-grey, 30%) solid;
            border-radius: 5px;
            &-title {
                font-weight: 600;
                text-align: center;
                font-size: 1.1rem;
                margin: 0.5rem 0;
            }

            %form-style {
                font-size: 0.8rem;
                text-transform: uppercase;
            }

            .form-item {
                font-weight: 600;
                padding: 0.7rem 0;
                @extend %form-style;
                @include flex(row, space-between, center);
                input,
                select {
                    width: 9rem;
                    height: 1.3rem;
                    @extend %form-style;
                }
            }

            #filter-btn {
                font-size: 1rem;
                padding: 0.3rem 3rem;
                border: 1px $base-black solid;
                background: $base-black;
                border-radius: 3px;
                color: $base-white;
                margin: 1.5rem auto;
                display: block;
                &:hover {
                    cursor: pointer;
                    border: 1px lighten($base-black, 10%) solid;
                    background: rgb(255, 255, 255);
                    color: $base-black;
                }
            }
        }

        #events-lists {
            grid-area: 0/1/1/2;
            margin-top: 2rem;

            .event-item {
                height: 200px;

                .performers-picture {
                    height: 180px;
                    width: 240px;
                    margin-left: 1rem;

                    // .date_time {
                    //     font-size: 11px;
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    //     background: $base-white;
                    //     height: 50px;
                    //     width: 50px;
                    //     border-radius: 3px;
                    //     @include flex(column, center, center);

                    //     .day {
                    //         text-align: center;
                    //         height: 50%;
                    //         width: 80%;
                    //         border-bottom: 1px solid $base-black;
                    //     }
                    // }
                    img {
                        height: 100%;
                        width: 100%;
                        display: block;
                    }
                }

                .event-description {
                    margin-left: 10px;
                    width: calc(100% - 350px);

                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $blue-link;
                        border-bottom: 2px solid darken($blue-link, 10%);
                    }

                    .event-name {
                        text-transform: uppercase;
                        padding-bottom: 0.3rem;
                        margin: 1rem 0;
                    }

                    %perve {
                        font-size: 1.2rem;
                        color: $base-grey;
                        margin: 1rem 0;
                    }

                    .performers-name {
                        @extend %perve;
                    }

                    .venue-state {
                        @extend %perve;
                        i {
                            padding: 0 4px;
                        }
                    }

                    .date_time {
                        @extend %perve;
                        i {
                            padding: 0 4px;
                        }
                    }

                    i {
                        margin-right: 1rem;
                    }
                }
            }

            .unavailable-event {
                font-size: 2rem;
                font-style: italic;
                color: lighten($base-grey, 10%);
                text-align: center;
            }
        }
    }
}
