
// ======== GLOBAL STYLING ==========

@import '../base/global';

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/kovid-rathee[upcoming-event].jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: $base-white;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #events_lists {
        margin-top: 2rem;

        .event_item {
            display: flex;
            width: 100%;
            height: 90px;
            margin-top: 1rem;

            .performers_picture {
                height: 90px;
                width: 100px;
                margin-left: 5px;
                position: relative;

                .date_time {
                    font-size: 11px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $base-white;
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .day {
                        text-align: center;
                        height: 50%;
                        width: 80%;
                        border-bottom: 1px solid $base-black;
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .event_description {
                margin-left: 10px;
                width: calc(100vw - 110px);

                a {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $blue-link;
                    border-bottom: 2px solid $blue-link;

                }

                .event_name {
                    text-transform: uppercase;
                    padding-bottom: 0.3rem;
                }
            }
        }
    }
}


// ============ MEDIA QUERIES ==============

@media (min-width: 769px) {

    body {
        font-size: 15px;
    }

    main {
       .container {
           width: 70%;
           margin: 0 auto;
       }
        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }

        #events_lists {
            margin-top: 2rem;

            .event_item {
                width: 100%;
                height: 200px;

                .performers_picture {
                    height: 180px;
                    width: 350px;
                    margin-left: 1rem;

                    img {
                        height: 100%;
                        width: 100%;
                        display: block;
                    }
                }

                .event_description {
                    margin-left: 10px;
                    width: calc(100vw - 110px);

                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $blue-link;
                        border-bottom: 2px solid darken($blue-link, 10%);
                    }

                    .event-name {
                        text-transform: uppercase;
                        padding-bottom: 0.3rem;
                    }

                    %perve {
                        font-size: 1.2rem;
                        color: $base-grey;
                    }

                    .performers_name {
                        @extend %perve;
                    }

                    .venue_state {
                        @extend %perve;
                    }   
                }
            }
        }
    }
}
