// ======== GLOBAL STYLING ==========

@import "../base/global";

@import "../layouts/navbar";

@import "../layouts/footer";

@import "../utilities/variables";

@import "../utilities/mixins";

@import "../utilities/functions";
// ===== MAIN ================================
main {
    .jumbotron {
        width: 100%;
        background-image: url("/images/kovid-rathee[upcoming-event].jpg");
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        &_text {
            color: $base-white;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
    }

    #events-lists {
        margin-top: 2rem;

        .event-item {
            display: flex;
            width: 100%;
            height: 90px;
            margin-top: 1rem;

            .performers-picture {
                height: 90px;
                width: 100px;
                margin-left: 5px;
                position: relative;

                .date_time {
                    font-size: 11px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $base-white;
                    height: 30px;
                    width: 30px;
                    border-radius: 3px;
                    @include flex(column, center, center);

                    .day {
                        text-align: center;
                        height: 50%;
                        width: 80%;
                        border-bottom: 1px solid $base-black;
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .event-description {
                margin-left: 10px;
                width: calc(100vw - 110px);

                a {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $blue-link;
                    border-bottom: 2px solid $blue-link;
                }

                .event-name {
                    text-transform: uppercase;
                    padding-bottom: 0.3rem;
                }
            }
        }
    }
}

// ============ MEDIA QUERIES ==============

@media (min-width: 769px) {
    body {
        font-size: 15px;
    }

    main {
      

        .jumbotron {
            height: 70vh;

            &_text {
                font-size: 4rem;
                font-weight: 700;
            }
        }
        .container {
            width: 90%;
            margin: 0 auto;
            position: relative;
            display: grid;
            grid-template-columns: 300px calc(100% - 300px);
        }

        #filter {
            grid-area: 0/0/1/1;
            height: 500px;
            width: 300px;
            position: sticky;
            top: 100px;
            border: 2px grey solid;
            border-radius: 5px;

        }

        #events-lists {

            grid-area: 0/1/1/2;
            margin-top: 2rem;
            .event-item {
                // width: 100%;
                height: 200px;

                .performers-picture {
                    height: 180px;
                    width: 350px;
                    margin-left: 1rem;

                    // .date_time {
                    //     font-size: 11px;
                    //     position: absolute;
                    //     top: 0;
                    //     right: 0;
                    //     background: $base-white;
                    //     height: 50px;
                    //     width: 50px;
                    //     border-radius: 3px;
                    //     @include flex(column, center, center);

                    //     .day {
                    //         text-align: center;
                    //         height: 50%;
                    //         width: 80%;
                    //         border-bottom: 1px solid $base-black;
                    //     }
                    // }
                    img {
                        height: 100%;
                        width: 100%;
                        display: block;
                    }
                }

                .event-description {
                    margin-left: 10px;
                    width: calc(100vw - 110px);

                    a {
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: $blue-link;
                        border-bottom: 2px solid darken($blue-link, 10%);
                    }

                    .event-name {
                        text-transform: uppercase;
                        padding-bottom: 0.3rem;
                        margin: 1rem 0;
                    }

                    %perve {
                        font-size: 1.2rem;
                        color: $base-grey;
                        margin: 1rem 0;
                    }

                    .performers-name {
                        @extend %perve;
                    }

                    .venue-state {
                        @extend %perve;
                        i {
                            padding: 0 4px;
                        }
                    }

                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
