<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Grooove</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://kit.fontawesome.com/ade53cd309.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="container">
        <div class="login-wrapper">
            <div class="title">Sign in!</div>
            <%- messages('layouts/messages-template', locals) %>
            <form id="login_form" action="/users/login" method="POST">
                <input class="form_item" type="text" name="username" placeholder="grooover name" required>
                <input class="form_item" type="password" name="password" placeholder="password" required>
                <button class="form_item" id='login_button' type="submit">Sign In</button>
            </form>
            <div>Not a Grooover yet?</div>
            <a href="/users/register"><button id="sign_button">Sign up</a></button>
            <div id="forgot-password">Forgot your password?</div>
            <a href="/users/recover_password">Recover password</a>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>