

.bg-green {
   background: rgb(42, 99, 37);
}

.bg-teal {
   background: rgb(0, 128, 134);
}

.bg-yellow {
   background: rgb(245, 191, 55);
}

.bg-blue {
   background: rgb(6, 42, 121);
}

.bg-violet {
   background: rgb(91, 10, 146);
}

.bg-black {
   background: rgb(34, 38, 41);
}

.bg-pink {
   background: rgb(242, 183, 165);
}

.bg-grey {
   background: rgb(180, 181, 181);
}

.bg-red {
   background: rgb(217, 33, 34);
}

.bg-orange {
   background: rgb(241, 97, 1);
}